
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #131313;
}

li, a{
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 2px 2%;
    background: black;
    position: fixed;
}

header img{
    width: 30px;
}

.content{
    height: 500px;
    padding: 10px 10%;
    background: url('../img/bruno.jpg');
    background-position: center;
}

.content h1{
    margin-top:200px;
    font-size:55px;
}

.boxes{
    border-radius: 10px;
    color: rgb(165, 165, 165);
    font-family: sans-serif;
    font-size: 15px;
    background-color: black;
    overflow: hidden;
    margin: 15px;
    flex: 1;
    transition: 0.5s all ease-in-out;
}

.boxes:hover{
    transform: scale(1.1);
}

.boxes .box_header1{
    height: 150px;
    background: url('../img/squad.jpg');
    background-size: cover;
}

.boxes .box_header2{
    height: 150px;
    background: url('../img/treble.jpg');
    background-size: cover;
}
.boxes .box_header3{
    height: 150px;
    background: url('../img/trophy.jpg');
    background-size: cover;
}

.boxes .box_content{
    text-align: center;
    padding: 20px;
}

.current a{
    color: red;
    font-weight: bold;
  }

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: red;
}

.box_button{
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    padding: 9px 25px;
    background-color: red;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: rgb(133, 0, 0);
    background-color: black;
}

footer{
    padding: 5px;
    margin-top:20px;
    vertical-align: bottom;
    color: rgba(165, 165,165);
    text-align: center;
    font-weight: bold;
  }

@media(min-width: 768px){

    header {
        padding: 5px 5%;
        font-size: 20px;
    }
    .box{
        padding: 7px 7%;
        display: flex;
    }
}
